<html>
    <head> 
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Green_button.css') }}"charset="utf-8">
          
    </head>
<body>

    <h1 style="text-align:center;margin:100 auto;border: 2px solid; width:200px ;">HOME</h1>
 
    <style>
        a {
            text-decoration:none;
        }
    </style>
    <div class="body"><a href="http://192.168.10.104:5000/first"style="text-align:center;margin:0 auto;border: 0px solid; width:200px ;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        First
      </a></div>
      <div class="body"><a href="http://192.168.10.104:5000/second"style="text-align:center;margin:150 auto;border: px solid; width:200px ;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Second
      </a></div>
      <div class="body"><a href="http://192.168.10.104:5000/third"style="text-align:center;margin:300 auto;border: 0px solid; width:200px ;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Third
      </a></div> 
    
</body>
</html>